#header {
  background: url(../../assets/banner-1.jpg) center/cover no-repeat;
}

.carousel-inner h1 {
  font-size: 3.75rem;
  font-family: var(--lg-font);
  color: #05ffc1 !important;
}
.carousel-inner h2 {
  font-weight: 200;
  letter-spacing: 0.12rem;
}
.carousel-item {
  bottom: 5rem;
}
.carousel-item .btn {
  border-color: var(--white) !important;
}
.carousel-item .btn:hover {
  border-color: var(--pink) !important;
}