.product-banner {
	height: 40vh;
	margin: 1rem auto;
	background: url(../../assets/banner-1.jpg) center/cover no-repeat;
}
.product-banner h1 {
	font-size: 3.5rem;
	font-weight: bold;
	font-family: var(--lg-font);
}
.products-categories-underline {
	height: 0.2rem;
	width: 5rem;
	background: var(--pink);
}
.products-categories-link {
	color: var(--black);
	text-decoration: none !important;
}
.products-categories-link:hover {
	color: var(--pink);
}
.color {
	text-decoration: none !important;
}
.color p {
	color: #212529;
}
.products-color {
	width: 1rem;
	height: 1rem;
	margin-right: 0.6em;
}
.products-color-black {
	background: black;
}
.products-color-white {
	background: whitesmoke;
}
.products-color-brown {
	background: brown;
}
@media screen and (max-width: 512px) {
	.product-banner {
		height: 30vh;
		margin: 0 auto;
	}
}
