:root {
	--lg-font: "Cinzel", serif;
	--sm-font: "Urbanist", sans-serif;
	--pink: #e5345b;
	--black: #303030;
	--white: #ffffff;
	--light-grey: rgb(210, 210, 210);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--sm-font);
	background-color: #f6f6f6;
}

/* buttons */
.bg-primary {
	background-color: var(--pink) !important;
}
.btn-pink-outline {
	background: var(--white);
	color: var(--pink);
	border: 1px solid var(--pink);
}
.btn-pink-outline:hover {
	background: var(--pink);
	color: var(--white);
	border: 1px solid var(--pink);
	transition: 0.2s linear;
}
.btn:not(.nav-btns button) {
	background-color: #fff;
	color: rgb(85, 85, 85);
	padding: 0.5em 1.75em;
	border-radius: 1.5em;
	border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
	background-color: var(--pink);
	color: var(--white);
	border-color: var(--pink);
}

/* text color */
.text-primary {
	color: var(--pink) !important;
}

/* link */
a {
	text-decoration: none;
	color: var(--black);
}
a :hover {
	color: var(--pink);
}

@media screen and (max-width: 768px) {
	* {
		font-size: 14px;
	}
}
@media screen and (max-width: 512px) {
	* {
		font-size: 12px;
	}
}
