/* title */
.title h2::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 50px;
  background-color: var(--pink);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* collection */
.active-filter-btn {
  background-color: var(--pink) !important;
  color: var(--white) !important;
  border-color: var(--pink) !important;
}
.filter-button-group .btn:hover {
  color: var(--white) !important;
}
.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
